@import "../../styles/Mixins";

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 60vw;
  min-height: 50vh;
  gap: 2rem;

  .title_container {
    width: 100%;
    @include center_element;
  }

  .tabs_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(231, 231, 225);
  }

  .tabs_content {
    @include center_element;
    width: 100%;
  }
}
