$page_title_font_weight: 400;
$modal_overlay_color: rgba(0, 0, 0, 0.5);
$secondary_color: rgb(58, 55, 55);
$modal_title_color: rgb(33, 33, 33);
$modal_title_font: 1.5rem;
$modal_title_margin: 0.625rem 0;
$modal_color: antiquewhite;
// Top Loader
$top_loader_height: 0.20rem;
$top_loader_color: #0969da;
$progress_bar_z_index: 10001;
